<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>MyFileViewer configuration file</comment>
	<entry key="LookAndFeel">net.java.plaf.windows.WindowsLookAndFeel</entry>
	<entry key="WorkingDirectory">.</entry>
	<entry key="Locale">du_DU</entry>
</properties>